Source: ngcp-admin-ui
Section: web
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 12),
 npm,
Standards-Version: 4.5.0
Homepage: https://www.sipwise.com/

Package: ngcp-admin-ui
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: JavaScript based admin panel for NGCP
 Replacement of old Perl based NGCP panel.
